/* App.js */

body {
  background-color: black;
  color: white;
  font-family: "Courier New";
}

.appContainer {
  padding: 20px;
}

.cozyFooter {
  text-align: center;
}

/* HomePage.js */

.homePageComponent {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.contentWrapper {
  padding-bottom: 20px;
}

/* CozyLinks.js */
.cozyLinksComponent {
  text-align: center;
  padding: 40px 0;
}

.linkWrapper {
  font-size: 24px;
  color: white;
  padding-bottom: 20px;
}

.aBedroomStoryImg {
  max-width: 350px;
  width: 100%;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: #FFB9CA;
}

a:visited {
    color: none;
}
